body
{
margin:0;
padding:0;
font-family:"Times New Roman",sans-serif;
font-size:100%;
}

img
{
margin:0;
padding:0;
}

h1, h2
{
color:rgb(40,40,40);
}

h1
{
margin:0;
padding:0;
font-family:"Georgia","Times New Roman",serif;
font-style:normal;
font-weight:normal;
font-size:1.7em;
line-height:28px;
text-transform:uppercase;
letter-spacing:2px;
}

h1 a
{
text-decoration:none;
color:rgb(20,20,20);
}

h2
{
margin:25px 0 20px 0;
padding:0;
font-style:normal;
font-weight:normal;
font-size:1.1em;
text-transform:capitalize;
}

p
{
margin:0;
padding:0;
line-height:140%;
text-align:justify;
font-size:0.9em;
color:rgb(40,40,40);
}

a.inline
{
text-decoration:none;
}

a.inline:link
{
color:rgb(180,0,0);
}

a.inline:visited
{
color:rgb(180,0,0);
}

a.inline:hover
{
color:rgb(240,0,0);
}

a.inline:active
{
color:rgb(180,0,0);
}

a.download
{
text-decoration:none;
font-weight:bold;
color:rgb(180,0,0);
}

a.download:hover
{
color:rgb(240,0,0);
}

#docbase
{
margin-left:auto;
margin-right:auto;
width:760px;
}

#canvas
{
border: 1px solid DarkGray;
}
