#navbar
{
list-style-type:none;
margin:10px 0 12px 0;
padding:0;
clear:right;
height:20px;
}

li.navbar
{
float:left;
height:20px;
line-height:20px;
}

a.navbar
{
display:block;
width:152px;
font-family:"Georgia","Times New Roman",serif;
font-size:14px;
letter-spacing:2px;
color:rgb(180,180,180);
background-color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}

a.navbar:hover
{
color:rgb(120,120,120);
}

a.curnav
{
display:block;
width:152px;
font-family:"Georgia","Times New Roman",serif;
font-size:14px;
letter-spacing:2px;
color:rgb(60,60,60);
background-color:white;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}

a.curnav:hover
{
color:rgb(60,60,60);
}

